<div class="deck">

  <h2>
    Last Updated:
  </h2>

  <h3 class="color">
    <% let d = new Date(country.created_date).toString().slice(0, 15); %>
    <%- d %>
  </h3>

  <div class="flag">
    <img src="<%- country.flag_url %>">
  </div>

  <div class="deck-text">
    <h2>
      <%- country.country_name %>
    </h2>

    <h3>
      Capital City:
      <%- country.capital %>
    </h3>

    </br>

    <h3>
      Exchange Rate:
    </h3>

    <h3 class="color">USD 1 =
      <%- country.exchange_rate %>
      <%- country.currency_code %>
    </h3>

  </div>
</div>

<div class="deck">
  <div class="detail-data">
    <% hotels.forEach(hotel => {%>
    <div class="detail-name">
      <h2>
        <%- hotel.name%>
      </h2>
      <h3 class="rating-price">
        Rating:
        <%- hotel.rating%>
      </h3>
      <h3>
        <%- hotel.address%>
      </h3>
      </br>
    </div>
    <% }) %>
  </div>
  <div class="deck-button">
    <button type="button" class="select">Hotel Options</button>
  </div>

</div>
<div class="deck">
  <div class="detail-data">
    <% restaurants.forEach(restaurant => {%>
    <div class="detail-name">
      <h2>
        <%- restaurant.name%>
      </h2>
      <h3 class="rating-price">
        Rating:
        <%- restaurant.rating%> stars
      </h3>
      <h3 class="rating-price">
        Price:
        <%- restaurant.price%>
      </h3>
      <h3>
        <%- restaurant.address%>
      </h3>
      </br>
    </div>
    <% }) %>
  </div>
  <div class="deck-button">
    <button type="button" class="select">Restaurants</button>
  </div>
</div>
<button type="button" class="select">Add to My Trips</button>



</body>

</html>