<div class="deck">

  <h1>
    <%- country.created_date %>
  </h1>

  <div class="flag">
    <img src="<%- country.flag_url %>">
  </div>

  <div class="deck-text">
    <h2>
      <%- country.country_name %>
    </h2>
  </div>

  <div class="deck-button">
    <div class="hotel">
      <% hotels.forEach(hotel => {%>
      <div id="<%- hotel.name%>">
        <p>
          <%- hotel.name%>
        </p>
        <p>
          <%- hotel.ratings%>
        </p>
        <p>
          <%- hotel.address%>
        </p>
        </br>
      </div>
      <% }) %>
    </div>
    <button type="button" class="select">Hotel Options</button>
    <button type="button" class="select">Restaurants</button>
    <button type="button" class="select">Add to My Trips</button>

  </div>

</div>

</body>

</html>